In [6]:
import pandas as pd

In [10]:
data = pd.read_csv('spam_ham_dataset.csv')

In [11]:
data

      Unnamed: 0  ... label_num
0            605  ...         0
1           2349  ...         0
2           3624  ...         0
3           4685  ...         1
4           2030  ...         0
...          ...  ...       ...
5166        1518  ...         0
5167         404  ...         0
5168        2933  ...         0
5169        1409  ...         0
5170        4807  ...         1

[5171 rows x 4 columns]

In [12]:
list_column = {'ham':0, 'spam':1}

In [13]:
data.drop(columns=['Unnamed: 0', 'label'], axis=1)

                                                   text  label_num
0     Subject: enron methanol ; meter # : 988291\r\n...          0
1     Subject: hpl nom for january 9 , 2001\r\n( see...          0
2     Subject: neon retreat\r\nho ho ho , we ' re ar...          0
3     Subject: photoshop , windows , office . cheap ...          1
4     Subject: re : indian springs\r\nthis deal is t...          0
...                                                 ...        ...
5166  Subject: put the 10 on the ft\r\nthe transport...          0
5167  Subject: 3 / 4 / 2000 and following noms\r\nhp...          0
5168  Subject: calpine daily gas nomination\r\n>\r\n...          0
5169  Subject: industrial worksheets for august 2000...          0
5170  Subject: important online banking alert\r\ndea...          1

[5171 rows x 2 columns]

In [14]:
x = data['text']
y = data['label_num']

In [3]:
from sklearn.model_selection import train_test_split

In [15]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.3, random_state=123)

In [16]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
x_train = cv.fit_transform(x_train)
x_test = cv.transform(x_test)

In [17]:
from sklearn import svm
model_svm = svm.SVC(kernel = 'rbf', random_state=0)
model_svm.fit(x_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

In [18]:
model_svm.predict(x_test)

array([0, 1, 1, ..., 1, 0, 1])

In [19]:
print(model_svm.score(x_test,y_test))

0.9575320512820513